<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item *ngFor="let item of listUsuario">
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{item.id}}</h3>
        </ion-text>
        <p>{{item.name}}</p>
        <ion-text color="secondary">
          <p>{{item.email}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
