<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<h1>Registrarse</h1>

{{nombre}}
<ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Password</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Remenber Password</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-button expand="block" (click)="registrase()">Registrarse</ion-button>
</ion-content>
